@font-face {
	font-family: 'Dystopian';
	src: url('../assets/fonts/Dystopian-Light.woff2') format('woff2'),
	url('../assets/fonts/Dystopian-Light.woff') format('woff'),
	url('../assets/fonts/Dystopian-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
}

@font-face {
  	font-family: 'Dystopian';
	src: url('../assets/fonts/Dystopian-Regular.woff2') format('woff2'),
		url('../assets/fonts/Dystopian-Regular.woff') format('woff'),
		url('../assets/fonts/Dystopian-Regular.ttf') format('truetype');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dystopian';
	src: url('../assets/fonts/Dystopian-Bold.woff2') format('woff2'),
		url('../assets/fonts/Dystopian-Bold.woff') format('woff'),
		url('../assets/fonts/Dystopian-Bold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Dystopian';
	src: url('../assets/fonts/Dystopian-Black.woff2') format('woff2'),
		url('../assets/fonts/Dystopian-Black.woff') format('woff'),
		url('../assets/fonts/Dystopian-Black.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo Black';
	src: url('../assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
	font-display: swap;
}

